{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit Tracker</title>
</head>

<body>
    <div>
        {% block content %}

        <div>
            {% if user.is_authenticated %}
                <div>Hello, {{user.username }}!</div>
            {% endif %}
        </div>

        {% endblock %}
    </div>
</body>

</html>